<form class="" action="/" method="post">
  Puppy name: <input type="text" name="name" value=""></input>
  Breed: <input type="text" name="breed" value=""></input>
  Age: <input type="text" name="age" value=""></input>
  <input type="submit" name="" value="submit">
</form>
